.aplayer-icon {
    display: none;
}
.aplayer {
    margin: 0 auto;
    padding-top: 30px;
}
.aplayer svg {
    display: none;
}
.aplayer * {
    box-sizing: content-box;
}
.aplayer-body {
    margin-top: 70px;

    position: relative;
}
.aplayer-info {
    height: 820px;
    padding-left: 60px;
    width: 740px;
}
.aplayer-title {
    font-weight: bold;
    font-size: 56px;
    color: #000000;
}
.aplayer-author,
.aplayer-list {
    display: none;
}

.aplayer-pic {
    position: absolute;
    top: 30px;
    right: 60px;
    height: 80px;
    width: 80px;
    background: transparent !important;
    transition: all 0.3s ease;
    cursor: pointer;
}
.aplayer-pause {
    width: 80px;
    height: 80px;
    background-image: url(~@/assets/img/pause.png);
    background-repeat: repeat;
    background-size: cover;
}
.aplayer-play {
    width: 80px;
    height: 80px;
    background-color: transparent;
    background-image: url(~@/assets/img/play.png);
    background-repeat: repeat;
    background-size: cover;
}

.aplayer-controller {
    width: 700px;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.aplayer-time {
    font-size: 26px;
    color: #000000;
    opacity: 0.4;
}
.aplayer-bar-wrap {
    cursor: pointer !important;
}
.aplayer-bar {
    position: relative;
    width: 410px;
    height: 16px;
    border-radius: 12px;
    background: #e4f1fe;
    margin-right: 25px;
}
.aplayer-loaded {
    display: none;
}
.aplayer-played {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 16px;
    border-radius: 12px;
    background: #0d84ff !important;
}

.aplayer-lrc {
    font-family: '汉体';
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 870px;
    height: calc(49px * 1.8 * 6);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.aplayer-lrc p {
    font-size: 49px;
    color: rgba(0, 0, 0);
    line-height: 180% !important; /*px*/
    padding: 0 !important;
    margin: 0 !important;
    transition: all 0.5s ease-out;
    opacity: 0.4;
    overflow: hidden;
}
.aplayer-lrc:before,
.aplayer-lrc:after {
    display: none;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    width: 100%;
    content: ' ';
}

.aplayer-lrc:before {
    top: 0;
    height: 60px;
    background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0));
}
.aplayer-lrc:after {
    bottom: 0;
    height: 120px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.8));
}

.aplayer-lrc p.aplayer-lrc-current {
    opacity: 1;
    color: #000000;
    overflow: visible;
    height: auto !important;
    min-height: 40px;
}
.aplayer-lrc-hide {
    display: none;
}
.aplayer-lrc-content {
    display: none;
    width: 100%;
    transition: all 0.5s ease-out;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: default;
}
.aplayer.aplayer-fixed .aplayer-lrc:after,
.aplayer.aplayer-fixed .aplayer-lrc:before {
    display: none;
}
